body {
    margin: 0px;
}
.main-backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition-property: visibility;
  visibility: hidden;
  animation-duration: 2000ms;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
  z-index: 1;
}
.is-hidden {
  visibility: visible;
  pointer-events: none;
  opacity: 0;
}
.is-hidden .main__overlay {
  transform: translate(-50%, -50%) scale(1.2);
}
.main__overlay {
border: 1px solid  #FFB8CA;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
width: 100vw;
max-width: 450px;
margin: auto;
margin-top: 30px;

}
.order {
    color: #D41443;
}
.white-order {
    color: white;
}
.top {
  background-color: #FFB8CA;
  display: flex;
  justify-content: space-between;
  font-family: "Titan One";
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.04em;
}
.text {
    padding: 20px 0px;
    margin: 0px;
    margin-left: 15px;
}
.choose {
  margin-left: 15px;
    font-family: "Titan One";
    color: #e29aac;
    font-size: 22px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.04em;
    margin-top: 0px;
    margin-bottom: 0px;
}
.kot {
    border: 1px solid green;
    font-size: 14px;
    font-family: "DM Sans";
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #20191b9d;
    display: inline-block;
}
input[type=range] {
 width: 200px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 2px #0d0d0d;
  background: linear-gradient(
    to right,
    #e29aac,
    rgba(75, 172, 202, 0.753)
  );
  border-radius: 50px;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #00000098;
  height: 8px;
  width: 16px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
.item {
  font-size: 13px;
  font-family: "DM Sans";
  letter-spacing: 0.03em;
  color: #20191bab;
}
.form-container {
border: 2px solid green;
margin-left: 25px;
}
.first-label {
  border: 1px solid red;
font-size: 13px;

}
.second-label {
  border: 1px solid red;
}
.third-label {
  border: 1px solid red;
}
.fourth-label {
  border: 1px solid red;
}
.fifth-label {
  padding: 0px;
  margin: auto;
  border: 1px solid red;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 370px;
}
.fifth-label-item {
  width: 87.5px;
  border: 1px solid green;
  flex-basis: calc((100%-2*5)/3);
}
.form-label {
  font-family: "Titan One";
  color: #41315e96;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.filling {
  font-family: "DM Sans";
  height: 40px;
  width: 280px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  border-radius: 50px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pink:hover,
.pink:focus,
.pink:active {
  border-color: rgba(204, 113, 151, 0.781);
  outline: none;
}
.green:hover,
.green:focus,
.green:active {
  border-color: rgba(97, 170, 115, 0.829);
  outline: none;
}
.lavender:hover,
.lavender:focus,
.lavender:active {
  border-color: rgba(165, 122, 190, 0.733);
  outline: none;
}
.blue:hover,
.blue:focus,
.blue:active {
  border-color: rgba(75, 172, 202, 0.753);
  outline: none;
}
.button-position {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.delivery-button {
  font-family: "Titan One";
  letter-spacing: 0.04em;
  border-radius: 5%;
 border: 1px solid #FFB8CA;
  background-color: #FFB8CA;
  padding: 20px;
  box-shadow: 0px 1px 1px #D41443,
    0px 1px 7px #b16477;
    color: white;
}
.close-button {
margin-right: 5px;
width: 30px;
height: 30px;
border-radius: 50%;
border: 2px solid #D41443;
opacity: 0.7;
margin-top: 5px;
fill: rgb(82, 8, 8);
background-color: white;
}
@media (min-width: 480px) {

}
@media (min-width: 768px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1600px) {

}
